html, body {
  margin: 0px;
  padding: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
}

#begin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#timer{ 
  font-size: 28px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#instantFeedback{
  font-size: 36px;
  text-align: center;
}

#header {
  margin: 0px;
  border: 0px;
  padding: 0px;
  line-height: 30px;
  background-color: orangered;
}

#titleText {
  margin-left: 5px;
}

#champ0, #champ1 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#questionCounter {
  padding-right: 20px;
  text-align: right;
  font-size: 14pt;
}

#scoreWrapper {
  font-size: 14pt;
  text-align: center;
}


#questionContainer, #resultsContainer {
  height: 225px;
}

.footer {
  font-size: 10pt;
}

#speedButtons {
  margin-top: 20px;
  text-align:center;
}

#disclaimerText {
  margin-bottom: 20px;
}

#questionText {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24pt;
}

.jumbotron {
  margin-top: 60px;
}
